	<table class="table">
		<tr>
			<td>標題</td>
			<td>發文者</td>
		</tr>
		<%@prayer.each do |p|%>
			<tr>
				<td><%=p.title%></td>
				<td><%=p.user.try(:name)||p.user.try(:email)%></td>
			</tr>
		<%end%>

	</table>

	<%=link_to "我要代禱",new_prayer_path,:class=>"btn btn-default"%>